<div class="grid-item">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="font-weight-bold">Title:</span> <%= movie.title %>
    </li>
    <li class="list-group-item">
      <span class="font-weight-bold">Overview:</span> <%= movie.overview %>
    </li>
    <li class="list-group-item">
      <span class="font-weight-bold">Release date:</span> <%= movie.release_date %>
    </li>
    <li class="list-group-item">
      <span class="font-weight-bold">Genres:</span> <%= movie.formated_genres %>
    </li>
  </ul>
</div>

<div class="grid-item">
  <img src="<%= movie.poster_path %>" class="img-fluid" alt="<%= movie.title %>">
</div>
